{% extends 'main.html' %} {% block content %}

<h1>Projects</h1>
<h2>Name: {{ name }}</h2>
{% if age > 45 %}
<h3>{{ name }}'{{ age }} is older than 45</h3>
{% elif age == 45 %}
<h3>{{ name }}'{{ age }} is same 45</h3>
{% else %}
<h3>{{ name }}'{{ age }} is under 45</h3>
{% endif %}

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td> <!--url을 urls.py에 있는 name값으로 만든다-->
        <a href="{% url 'single-project' project.id %}">{{ project.title }} {% if project.topRated %} |<strong>topRated</strong> {% endif %}</a>
      </td>
      <td>{{ project.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
